#clockcontainer{
    position: relative;
    margin: auto;
    height: 30vw;
    width: 30vw;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
}
#hour, #minute, #second{
    position: absolute;
    background: white;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    width: 1.5%;
    height: 18.6%;
    top: 32%;
    left: 49.5%;
    opacity: 0.8;
   
}
#minute{
    width: 1%;
    height: 30%;
    top: 20%;
    left: 50%;
    opacity: 0.8;
   
}
#second{
    width: 0.5%;
    height: 33%;
    top: 17%;
    left: 49.5%;
    opacity: 0.8;

}